<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>data-th-text=${type}</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Summary</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="s : ${tvshows}" data-th-object="${s}">
                <td>
                    <span data-th-text="*{id}"></span>
                </td>
                <td>
                    <span data-th-text="*{name}"></span>
                </td>
                <td>
                    [(*{summary})]
                    <!-- <span data-th-text="${s.summary}"></span> -->
                </td>
                <td>
                    <span data-th-text="*{image}"></span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>